ATHANOR_ENV=production
ATHANOR_REDIS_URL=redis://192.168.1.203:6379/0
ATHANOR_NODE1_HOST=192.168.1.244
ATHANOR_NODE2_HOST=192.168.1.225
ATHANOR_VLLM_COORDINATOR_URL=http://192.168.1.244:8000
ATHANOR_VLLM_CODER_URL=http://192.168.1.244:8006
ATHANOR_VLLM_EMBEDDING_URL=http://192.168.1.189:8001
ATHANOR_OLLAMA_URL=http://192.168.1.225:11434
ATHANOR_PROMETHEUS_URL=http://192.168.1.203:9090
ATHANOR_GPU_ORCHESTRATOR_API_TOKEN=replace-me
