NEXT_PUBLIC_PROMETHEUS_URL=http://192.168.1.203:9090
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
ATHANOR_COMMAND_CENTER_URL=https://athanor.local
ATHANOR_NODE1_HOST=192.168.1.244
ATHANOR_NODE2_HOST=192.168.1.225
ATHANOR_VAULT_HOST=192.168.1.203
ATHANOR_DEV_HOST=192.168.1.189
ATHANOR_WORKSHOP_LINK_HOST=interface.athanor.local
ATHANOR_VAULT_LINK_HOST=vault.athanor.local
ATHANOR_AGENT_SERVER_URL=http://192.168.1.244:9000
ATHANOR_PROMETHEUS_URL=http://192.168.1.203:9090
ATHANOR_GRAFANA_URL=http://192.168.1.203:3000
ATHANOR_LITELLM_URL=http://192.168.1.203:4000
ATHANOR_VLLM_COORDINATOR_URL=http://192.168.1.244:8000
ATHANOR_VLLM_CODER_URL=http://192.168.1.244:8100
ATHANOR_VLLM_WORKER_URL=http://192.168.1.225:8010
ATHANOR_VLLM_EMBEDDING_URL=http://192.168.1.189:8001
ATHANOR_VLLM_RERANKER_URL=http://192.168.1.189:8003
ATHANOR_COMFYUI_URL=http://192.168.1.225:8188
ATHANOR_OPEN_WEBUI_URL=http://192.168.1.225:3000
ATHANOR_VAULT_OPEN_WEBUI_URL=http://192.168.1.203:3090
ATHANOR_EOQ_URL=http://192.168.1.225:3002
ATHANOR_SONARR_URL=http://192.168.1.203:8989
ATHANOR_RADARR_URL=http://192.168.1.203:7878
ATHANOR_TAUTULLI_URL=http://192.168.1.203:8181
ATHANOR_PLEX_URL=http://192.168.1.203:32400
ATHANOR_STASH_URL=http://192.168.1.203:9999
ATHANOR_PROWLARR_URL=http://192.168.1.203:9696
ATHANOR_SABNZBD_URL=http://192.168.1.203:8080
ATHANOR_HOME_ASSISTANT_URL=http://192.168.1.203:8123
ATHANOR_HOME_ASSISTANT_TOKEN=
ATHANOR_QDRANT_URL=http://192.168.1.203:6333
ATHANOR_NEO4J_URL=http://192.168.1.203:7474
ATHANOR_NEO4J_USER=neo4j
ATHANOR_NEO4J_PASSWORD=
ATHANOR_SPEACHES_URL=http://192.168.1.244:8200
ATHANOR_AGENT_API_TOKEN=
ATHANOR_DASHBOARD_OPERATOR_TOKEN=
ATHANOR_LITELLM_API_KEY=
ATHANOR_FOUNDRY_DOCKER_PROXY=http://192.168.1.244:2375
ATHANOR_VAULT_DOCKER_PROXY=http://192.168.1.203:2375
ATHANOR_LANGFUSE_URL=http://192.168.1.203:3030
ATHANOR_LANGFUSE_PUBLIC_KEY=
ATHANOR_LANGFUSE_SECRET_KEY=
ATHANOR_WS_PTY_BRIDGE_ALLOWED_NODES=workshop,foundry,dev
