services:
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    image: {{ dashboard_image }}
    container_name: athanor-dashboard
    restart: unless-stopped
    ports:
      - "{{ dashboard_port }}:3001"
    environment:
      - NEXT_PUBLIC_PROMETHEUS_URL={{ dashboard_prometheus_url }}
      - NEXT_PUBLIC_VAPID_PUBLIC_KEY={{ dashboard_vapid_public_key }}
      - VAPID_PRIVATE_KEY={{ dashboard_vapid_private_key }}
      - ATHANOR_NODE1_HOST={{ dashboard_node1_host }}
      - ATHANOR_NODE2_HOST={{ dashboard_node2_host }}
      - ATHANOR_VAULT_HOST={{ dashboard_vault_host }}
      - ATHANOR_DEV_HOST={{ dashboard_dev_host }}
      - ATHANOR_AGENT_SERVER_URL={{ dashboard_agent_server_url }}
      - ATHANOR_PROMETHEUS_URL={{ dashboard_prometheus_url }}
      - ATHANOR_GRAFANA_URL={{ dashboard_grafana_url }}
      - ATHANOR_LITELLM_URL={{ dashboard_litellm_url }}
      - ATHANOR_VLLM_COORDINATOR_URL={{ dashboard_vllm_coordinator_url }}
      - ATHANOR_VLLM_UTILITY_URL={{ dashboard_vllm_utility_url }}
      - ATHANOR_VLLM_WORKER_URL={{ dashboard_vllm_worker_url }}
      - ATHANOR_VLLM_EMBEDDING_URL={{ dashboard_vllm_embedding_url }}
      - ATHANOR_VLLM_RERANKER_URL={{ dashboard_vllm_reranker_url }}
      - ATHANOR_COMFYUI_URL={{ dashboard_comfyui_url }}
      - ATHANOR_OPEN_WEBUI_URL={{ dashboard_open_webui_url }}
      - ATHANOR_VAULT_OPEN_WEBUI_URL={{ dashboard_vault_open_webui_url }}
      - ATHANOR_EOQ_URL={{ dashboard_eoq_url }}
      - ATHANOR_SONARR_URL={{ dashboard_sonarr_url }}
      - ATHANOR_RADARR_URL={{ dashboard_radarr_url }}
      - ATHANOR_TAUTULLI_URL={{ dashboard_tautulli_url }}
      - ATHANOR_PLEX_URL={{ dashboard_plex_url }}
      - ATHANOR_STASH_URL={{ dashboard_stash_url }}
      - ATHANOR_PROWLARR_URL={{ dashboard_prowlarr_url }}
      - ATHANOR_SABNZBD_URL={{ dashboard_sabnzbd_url }}
      - ATHANOR_HOME_ASSISTANT_URL={{ dashboard_home_assistant_url }}
      - ATHANOR_QDRANT_URL={{ dashboard_qdrant_url }}
      - ATHANOR_NEO4J_URL={{ dashboard_neo4j_url }}
      - ATHANOR_NEO4J_USER={{ dashboard_neo4j_user }}
      - ATHANOR_NEO4J_PASSWORD={{ dashboard_neo4j_password }}
      - ATHANOR_SPEACHES_URL={{ dashboard_speaches_url }}
      - ATHANOR_LITELLM_API_KEY={{ dashboard_litellm_api_key }}
